# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Raw datasets
Data/

# Training runs
runs/

# Base YOLO weights 
yolo26n.pt
yolov8n.pt
yolov8s.pt
volov8s.pt

# Misc
*.zip
.DS_Store
Thumbs.db
README.robofl*